/* Path: src/components/Buttons/PrimaryBtn/Buttons.css */

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  padding: var(--spacing-msm) var(--spacing-xl);
  border:1px solid transparent;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all var(--transition-med);
  text-decoration: none;
  width: 100%;
}

@media (min-width: 768px) {
  .btn {
    max-width: 200px;
  }
}

.btn-primary {
  background-color: var(--primary-yellow);
  color: var(--neutral-dark);
  box-shadow: var(--shadow-sm);
}

.btn-primary:hover {
  background-color: var(--primary-green);
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
  border: 1px solid var(--primary-yellow);
  color: var(--primary-yellow);
}

.btn-secondary {
  background-color: var(--primary-green);
  color: var(--neutral-white);
}

.btn-secondary:hover {
  background-color: #3a4b45;
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}
